.formCard {
    @include flexColumn;
    filter: drop-shadow(0 3px 6px rgba(#000, $alpha: 0.36));
}

.formContent {
    background-color: $snow_white_color;
    overflow: hidden;
    padding: 0;
    max-height: 0px;

    &.expanded {
        max-height: 1000px;
        width: $form_card_width;

        animation: expandFormContent;
        @include normalAnimation;
        transform-origin: top;

        padding: $padding_md $padding_xl;
        padding-bottom: $padding_xxl;
        border-bottom-left-radius: $padding_md;
        border-bottom-right-radius: $padding_md;

        & > *:first-child {
            // margin-top: clamp(6px, 0.6em, 8px);
        }
    }
}
