.formCard {
    @include flexColumn;
    filter: $app_primary_filter_shadow;
}

.formContent {
    background-color: $snow_white_color;
    overflow: hidden;
    padding: 0;
    width: $form_card_width;
    max-height: 0px;

    &.expanded {
        max-height: 5000px;

        animation: expandFormContent;
        @include normalAnimation;
        transform-origin: top;

        padding: $distance_md $distance_xl;
        padding-bottom: $distance_xxl;
        border-bottom-left-radius: $distance_md;
        border-bottom-right-radius: $distance_md;

        & > *:first-child {
            // margin-top: clamp(6px, 0.6em, 8px);
        }
    }
}
