.sideWrapper:has(.resumeDisplay) {
    align-self: flex-start;
    position: sticky;
    @include flexColumn;
    top: 0;
    height: 100vh;
    width: calc($resume_preview_max_height * $resume_ratio);
    flex-shrink: 0;
    container-type: inline-size;
}

.resumeDisplay {
    position: sticky;
    @include flexColumn;
    // position: relative;
    top: 0;
    height: 100%;
    // background-color: rgb(251, 189, 189);
}

.displayText {
    // position: relative;
    top: 2rem;
    font-size: $fs_normal_lg;
    margin: $resume_heading_position;
    cursor: default;
    color: $primary_dark_color;
}

.resume {
    // width: 100%;
    // position: sticky;
    // position: relative;
    font-size: 1rem;
    // top: 2.5rem;
    height: $resume_preview_max_height;
    width: calc($resume_preview_max_height * $resume_ratio);
    padding: $resume_padding;
    aspect-ratio: 1 / 1.42;

    filter: $app_primary_filter_shadow;
    overflow-y: auto;

    background-color: $white_color;
    font-size: 1.6cqh;

    &:has(.modernResumeWrapper) {
        padding: 0;
    }
}
