.formControllerItem {
    border: 1px solid $primary_color;
    border-radius: $distance_sm;
    position: relative;
}

.itemHeading {
    display: inline-block;
    position: absolute;
    top: $form_controller_heading_top;
    left: $form_controller_heading_left;

    font-size: $fs_normal_xl;
    color: $primary_color;
    cursor: default;
    background-color: $snow_white_color;
}

.controllerItemContent {
    @include flexCenter;
    align-items: stretch;
    justify-content: space-around;
    margin-top: $distance_lg;
    padding: $distance_xxl;

    &:has(.first) {
        @include flexColumn;
        gap: $form_card_content_row_gap;
    }

    & .first,
    & .second {
        width: 100%;
        @include flexCenter;
        justify-content: space-between;
    }

    & .second {
        justify-content: space-evenly;
    }
}

.colorControllerLabel {
    @include flexCenter;
    gap: $form_card_content_column_gap;
    font-size: $fs_normal_lg;
    font-weight: 700;
    color: $black_text;
    cursor: default;
}

.colorInpController {
    cursor: pointer;
}
