/* =============================================== */
/* COLORS + FONT SIZES + PADDING SETUP  */
/* =============================================== */
// COLORS
$black_color: #000;
$white_color: #fff;
$black_text: #333;
$white_text: #f5f5f5;
$snow_white_color: #fffafa;
$gray_color: #d6d6d6;
$light_gray_color: #eee;
$dark_gray_color: #b3b3b3;
$light_green_color: #4ad66d;
$green_color: #2dc653;
$dark_green_color: #208b3a;
$light_red_color: #dd2c2f;
$red_color: #d02224;
$dark_red_color: #ac1c1e;
$yellow_color: #ffda3d;
$light_yellow_color: #ffe94e;
$dark_yellow_color: #fdb833;
$blue_color: #329cf4;
$light_blue_color: #64b5f6;
$dark_blue_color: #1976d2;

$primary_color: #5fa9d3;
$primary_light_color: #a0cbe4;
$primary_lighter_color: #bfdced;
$primary_dark_color: #3f97ca;
$primary_darker_color: #3081b0;
$primary_darkest_color: #185375;

$active_style_btn: #ffa52f;

$app_primary_filter_shadow: drop-shadow(0 3px 6px rgba(#000, $alpha: 0.36));

// FONT SIZES
$fs_heading_xl: clamp(4rem, 2.6vw + 4rem, 5.6rem);
$fs_heading_lg: clamp(3.2rem, 2vw + 3.2rem, 4.2rem);
$fs_heading_md: clamp(2.8rem, 1.8vw + 2.8rem, 3.6rem);
$fs_heading_sm: clamp(2rem, 1.6vw + 1.8rem, 2.6rem);

$fs_normal_xl: clamp(1.9rem, 1.4vw + 1.8rem, 2.4rem);
$fs_normal_lg: clamp(1.6rem, 1vw + 1.7rem, 1.86rem);
$fs_normal_md: clamp(1.36rem, 0.6vw + 1.3rem, 1.4rem);
$fs_normal_sm: clamp(1.16rem, 0.3vw + 1.16rem, 1.26rem);
$fs_normal_ssm: clamp(0.76rem, 0.1vw + 0.8rem, 0.86rem);
$fs_normal_sssm: clamp(0.66rem, 0.1vw + 0.7rem, 0.76rem);

// VARIABLES SET UP
$side_btns_position: clamp(6px, 0.8em, 10px);

$scroll_bar_width: clamp(2.6px, 0.3em, 3.6px);
$scroll_bar_border_radius: clamp(8px, 0.86em, 10px);

$distance_xxxl: 24px;
$distance_xxl: 20px;
$distance_xl: 16px;
$distance_lg: 12px;
$distance_md: 8px;
$distance_sm: 6px;
$distance_ssm: 4px;

$form_header_margin: clamp(46px, 4.66em, 50px) 0 clamp(20px, 2em, 26px);
$form_card_section_gap: clamp(20px, 2.2em, 24px);
$form_margin_bottom: clamp(46px, 4.6em, 50px);

$form_heading_btn_padding: clamp(12px, 1.26em, 14px) clamp(4px, 5.6em, 6px) clamp(12px, 1.26em, 14px)
    clamp(14px, 1.56em, 16px);
$form_controller_heading_top: clamp(-18px, 2em, -20px);
$form_controller_heading_left: clamp(12px, 1.4em, 14px);

// $form_card_width: max(560px, 580px);
$form_card_width: max(420px, 580px);
$form_card_content_row_gap: clamp(26px, 2.66em, 28px);
$form_card_content_column_gap: clamp(14px, 1.6em, 18px);
$form_card_sections_gap: clamp(20px, 2.4em, 26px);
$form_card_items_gap: clamp(20px, 2.2em, 24px);

$form_inp_key_point_width: 90%;
$form_delete_btn_ratio: 1 / 0.65;

$inpBorderWidth: 2.6px;

/* =============================================== */
// RESUME VARIABLES
/* =============================================== */
$resume_heading_position: clamp(16px, 1.8rem, 20px) auto clamp(6px, 0.8rem, 10px);
$resume_preview_max_height: min(90vh, 297mm);
$resume_ratio: 210 / 297;
$resume_padding: clamp(32px, 3.2em, 36px);

$resume_fs_heading_xxl: 2.4em;
$resume_fs_heading_lg: 1.8em;
$resume_fs_heading_md: 1.6em;
$resume_fs_heading_sm: 1.2em;
$resume_fs_heading_ssm: 1.1em;
$resume_fs_heading_sssm: 1em;

$resume_fs_normal_xl: 0.9em;
$resume_fs_normal_lg: 0.8em;
$resume_fs_normal_md: 0.76em;
$resume_fs_normal_sm: 0.66em;
$resume_fs_normal_ssm: 0.6em;
$resume_fs_normal_sssm: 0.56em;

$resume_distance_xxxl: 1em;
$resume_distance_xxl: 0.8em;
$resume_distance_xl: 0.6em;
$resume_distance_lg: 0.5em;
$resume_distance_md: 0.4em;
$resume_distance_sm: 0.2em;
$resume_distance_ssm: 0.1em;
$resume_distance_sssm: 0.06em;

$minimalism_resume_divided_line_height: 1.5px;

/* =============================================== */
/* FUNCTIONS SETUP  */
/* =============================================== */
@mixin fonts {
    &.Ledger {
        font-family: 'Ledger';
        line-height: 1.5;
    }
    &.Roboto {
        font-family: 'Roboto Mono';
        // letter-spacing: -0.026em;
        line-height: 1.36;
    }
    &.Sono {
        font-family: 'Sono';
        // letter-spacing: -0.036em;
        line-height: 1.36;
    }
    &.AR_One_Sans {
        font-family: 'AR One Sans';
    }
    &.Helvetica {
        font-family: Helvetica;
    }
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

@mixin displayGrid {
    display: grid;
    font-size: 1rem;
}

/* =============================================== */
/* ANIMATION SETUP  */
/* =============================================== */
@mixin animationAndTransitionTiming {
    transition-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@mixin shortTransition {
    transition-duration: 200ms;
}

@mixin normalTransition {
    transition-duration: 360ms;
}

@mixin longTransition {
    transition-duration: 660ms;
}

@mixin longerTransition {
    transition-duration: 960ms;
}

@mixin shortAnimation {
    animation-duration: 200ms;
}

@mixin normalAnimation {
    animation-duration: 360ms;
}

@mixin longAnimation {
    animation-duration: 660ms;
}

@mixin longerAnimation {
    animation-duration: 960ms;
}

@keyframes logoBounce {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-10px, -36px) rotate(-30deg);
    }
    50% {
        transform: translate(0, 16px) rotate(0);
    }
    80% {
        transform: translate(10px, -36px) rotate(30deg);
    }
    100% {
        transform: translate(0) rotate(0);
    }
}

@keyframes logoStretch {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.16, 0.86);
    }
    50% {
        transform: scale(0.9, 1.06);
    }
    80% {
        transform: scale(1.16, 0.86);
    }
    92% {
        transform: scale(0.9, 1.06);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes expandFormContent {
    0% {
        transform: scaleY(0);
    }
    60% {
        transform: scaleY(1.026);
    }
    80% {
        transform: scaleY(1.016);
    }
    90% {
        transform: scaleY(1.006);
    }
    100% {
        transform: scaleY(1);
    }
}
