.sideBtn {
    padding: $distance_md;
    color: $primary_darker_color;
    cursor: pointer;
    background-color: $snow_white_color;
    outline: none;
    border: 3.6px solid transparent;
    border-radius: 12px;
    @include normalTransition;

    @include flexCenter;

    svg {
        height: $fs_heading_sm;
    }

    &:hover {
        color: $primary_color;
        border-color: $primary_color;
    }

    &.preview {
        display: none;
    }

    & .sideBtnText {
        font-size: $fs_normal_lg;
        font-weight: 600;
        color: $white_text;
        margin-left: clamp(6px, 0.66em, 8px);
        display: none;
    }
}
