.formContent.expanded:has(.personalInfo) {
    @include flexColumn;
    // align-items: flex-end;
    align-items: stretch;
    // gap: clamp(20px, 2.4em, 26px);
    .personalInfo {
        margin-top: clamp(10px, 1.2em, 14px);
        width: 100%;
        @include displayGrid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(36px, 40px));
        row-gap: $form_card_content_row_gap;
        column-gap: $form_card_content_column_gap;
    }
}
