.sideControllersWrapper {
    position: fixed;
    @include flexColumn;
    gap: $form_card_content_column_gap;
    bottom: $side_btns_position;
    left: $side_btns_position;
    font-size: 1.6rem;

    z-index: 100;
}
