.additionalInfoItemKeyPoint {
    @include flexCenter;
    justify-content: space-between;
    flex-wrap: wrap;

    & > *:first-child {
        width: 90%;
    }

    // & > *:last-child {
    //     height: 100%;
    //     overflow: hidden;
    // }
}
