.additionalInfoItemKeyPoint {
    width: 100%;
    @include flexCenter;
    justify-content: space-between;
    // flex-wrap: wrap;

    & > *:first-child {
        width: $form_inp_key_point_width;
    }
}
