.formWrapper {
    font-size: 1rem;
    @include flexColumn;
    align-self: flex-start;
    gap: $form_card_section_gap;
    margin-bottom: $form_margin_bottom;
}

.formHeader {
    @include flexColumn;
    @include flexCenter;
    gap: max(0px, 1.2em);
    margin: $form_header_margin;
    cursor: default;
}

.formHeading {
    @include flexCenter;
    gap: clamp(12px, 1.8em, 20px);
    font-size: $fs_heading_xl;
    color: $dark_blue_color;

    @include normalTransition;
    @include animationAndTransitionTiming;

    .formHeadingIcon {
        height: $fs_heading_xl;
        color: $dark_blue_color;
    }

    &:hover {
        color: $blue_color;
    }

    &:hover .formHeadingIcon {
        animation: logoBounce 660ms ease-in-out 0s, logoStretch 660ms ease-in-out 860ms;
        filter: none;
        color: $blue_color;
    }
}

.formSlogan {
    font-size: $fs_normal_lg;
    font-weight: 600;
    color: $blue_color;
}

.formFooter {
    @include flexCenter;
}

.formFooterText {
    @include flexCenter;
    font-size: $fs_normal_md;
    font-weight: 560;
    color: $primary_darkest_color;
    cursor: default;
}

.formFooterLink {
    @include flexCenter;
    font-size: $fs_normal_md;
    margin-left: clamp(6px, 0.66em, 8px);
    color: $primary_darkest_color;
    cursor: pointer;
    @include normalTransition;

    & > svg {
        height: $fs_normal_xl;
        margin-right: clamp(4px, 0.46em, 6px);
        @include normalTransition;
    }

    &:hover,
    &:hover > svg {
        transform: scale(1.03);
        color: $primary_dark_color;
    }
}
